
body {

color:black;
padding: 450px;
background-color:white;
background-image:url('https://www.lecollectionist.com/system/shots/photos/000/022/191/full/IMG_6776.JPG?1427287034');
background-repeat: no-repeat;

}